# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Jupyter/IPython
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/

# Logs
*.log

# IDEs
.idea/
